@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Spline+Sans+Mono:ital,wght@0,300..700;1,300..700&display=swap");
@import "tailwindcss";

html,
body {
  scroll-behavior: smooth;
  background-color: #05050e !important;
}
@theme {
  --color-primary: #0f0f27;
  --color-secondary: #e1e7f5;
  --color-blue0d: #0d0c0f;
  --color-blue15: #15151f;
  --color-darkblue0d: #0d0d14;
  --color-lightpurple44: #444362;
  --color-graya7: #a7b1d6cc;
  --color-grayc9: #c9d3e8;
  --color-gray44: #44436266;
  --color-gray83: #838aa3;
  --color-grayd8: #d8dff0cc;
  --color-black05: #05060e;
  --color-lightgray: "#44436285";
  --color-colarblack: "#1B1A22";
  --breakpoint-xs: 1200px;
  --breakpoint-2xl: 1336px;
  --breakpoint-3xl: 1736px;
  --font-geist: "Geist", sans-serif;
  --font-suisseintl: "SuisseIntl", sans-serif;
  --font-inter-tight: "Inter Tight", sans-serif;
  --font-spline-sans-mono: "Spline Sans Mono", monospace;
}
@font-face {
  font-family: "SuisseIntl";
  src: url("/public/fonts/SuisseIntl-Light.ttf") format("ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "SuisseIntl";
  src: url("/public/fonts/SuisseIntl-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "SuisseIntl";
  src: url("/public/fonts/SuisseIntl-Medium.ttf") format("ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "SuisseIntl";
  src: url("/public/fonts/SuisseIntl-SemiBold.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "SuisseIntl";
  src: url("/public/fonts/SuisseIntl-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}
.ff_sussie {
  font-family: "SuisseIntl";
}
.inner_shadow {
  box-shadow: inset 0 4px 10px rgba(163, 126, 242, 0.12);
}
.container {
  @apply max-w-[1150px] 2xl:max-w-[1200px] 3xl:max-w-[1536px] mx-auto px-4 md:px-5 xl:px-0;
}
.common_heading {
  @apply text-[36px] md:text-[45px] lg:text-[55px] xl:text-[64px] font-geist font-medium  text-transparent bg-clip-text bg-gradient-to-r from-[#F0A9D3] via-[#F9DEE3] to-[#9691F2] pt-5 md:pt-6 lg:pt-8 mx-auto max-w-[1000px] leading-[45px] md:leading-[100%];
}
.common_para {
  @apply text-base lg:text-xl font-medium text-[#D8DFF0] opacity-80 pt-3 md:pt-4 lg:pt-6  mx-auto;
}
.primary_gradient {
  background: linear-gradient(to right, #f0a9d3 0%, #f9dee3 50%, #9691f2 100%);
}
@layer utilities {
  .stroke-text-white {
    color: white;
    -webkit-text-stroke: 1px #0d0c0f;
    text-stroke: 1px #0d0c0f;
  }

  .stroke-text-purple {
    color: #8e8bff;
    -webkit-text-stroke: 1px #0d0c0f;
    text-stroke: 1px #0d0c0f;
  }
}
.gradient-border {
  position: relative;
  padding: 1px; /* for the gradient outline */
  background: linear-gradient(
    180deg,
    rgba(68, 67, 98, 0) 0%,
    rgba(68, 67, 98, 0.52) 100%
  );
}
.gradient-border > .content {
  /* slightly less */
  background: linear-gradient(
    180deg,
    rgba(5, 6, 14, 0.2) 0%,
    rgba(5, 6, 14, 1) 0%
  );
  padding: 12px; /* Your content padding */
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* grid-cols-3 */
  gap: 1rem; /* gap-4 */
  grid-auto-flow: row; /* grid-flow-row */
}

.box {
  padding: 1.25rem; /* p-5 */
  text-align: center;
  background-color: white;
}

/* Positioning the grid items like Tailwind utility classes */
.a {
  grid-row-start: 2;
  grid-row-end: 4;
}

.b {
  grid-column-start: 2;
  grid-column-end: 4;
}

.e {
  grid-row-start: 3;
  grid-column-start: 1;
}
